@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/fonts/Estedad-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Mikhak;
  font-style: normal;
  font-weight: 300;
  src: url("../../public/fonts/Mikhak-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Estedad;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/fonts/Estedad-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: Mikhak;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/fonts/Mikhak-DS2-SemiBold.woff2") format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Estedad";
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  padding: 10px;
  border: 1px solid #000;
  transform: translate(-50%, -50%) !important;
  background-color: #f9fafb;
}

.yellow_link {
  color: #000;
  background-image: linear-gradient(180deg, transparent 53%, #fcf113 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
  cursor: pointer;
  font-family: "Mikhak", sans-serif;
}

.yellow_link:hover {
  background-size: 100% 100%;
  text-decoration: none;
}
